@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-w-line {
  -webkit-text-stroke: .5px #000000;
}